<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="generateImagemodel_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="generateImagemodel" type="xboolean" value="true"/>
        <config key="catCol_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="catCol" type="xstring" value="Ano"/>
        <config key="columns_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_columnfilter"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="columns">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="36"/>
                <entry key="0" type="xstring" value="Quant_0002"/>
                <entry key="1" type="xstring" value="Quant_0006"/>
                <entry key="2" type="xstring" value="Valor_0006"/>
                <entry key="3" type="xstring" value="Quant_0007"/>
                <entry key="4" type="xstring" value="Valor_0007"/>
                <entry key="5" type="xstring" value="Quant_0010"/>
                <entry key="6" type="xstring" value="Valor_0010"/>
                <entry key="7" type="xstring" value="Quant_0018"/>
                <entry key="8" type="xstring" value="Quant_0022"/>
                <entry key="9" type="xstring" value="Valor_0022"/>
                <entry key="10" type="xstring" value="Quant_0024"/>
                <entry key="11" type="xstring" value="Quant_0036"/>
                <entry key="12" type="xstring" value="Valor_0036"/>
                <entry key="13" type="xstring" value="Quant_0038"/>
                <entry key="14" type="xstring" value="Valor_0038"/>
                <entry key="15" type="xstring" value="Quant_0040"/>
                <entry key="16" type="xstring" value="Valor_0040"/>
                <entry key="17" type="xstring" value="Quant_0044"/>
                <entry key="18" type="xstring" value="Quant_0047"/>
                <entry key="19" type="xstring" value="Quant_0051"/>
                <entry key="20" type="xstring" value="Valor_0051"/>
                <entry key="21" type="xstring" value="Quant_0052"/>
                <entry key="22" type="xstring" value="Valor_0052"/>
                <entry key="23" type="xstring" value="Quant_0053"/>
                <entry key="24" type="xstring" value="Quant_0056"/>
                <entry key="25" type="xstring" value="Valor_0056"/>
                <entry key="26" type="xstring" value="Quant_0061"/>
                <entry key="27" type="xstring" value="Valor_0061"/>
                <entry key="28" type="xstring" value="Quant_0070"/>
                <entry key="29" type="xstring" value="Valor_0070"/>
                <entry key="30" type="xstring" value="Quant_0089"/>
                <entry key="31" type="xstring" value="Quant_0111"/>
                <entry key="32" type="xstring" value="Valor_0111"/>
                <entry key="33" type="xstring" value="Proventos"/>
                <entry key="34" type="xstring" value="Descontos"/>
                <entry key="35" type="xstring" value="Liquido"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="0"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
        <config key="numCol_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="numCol" type="xstring" value="Liquido"/>
        <config key="reportOnMissingValues_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="reportOnMissingValues" type="xboolean" value="true"/>
        <config key="includeMissValClass_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="includeMissValClass" type="xboolean" value="true"/>
        <config key="failOnSpecialDoubles_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="failOnSpecialDoubles" type="xboolean" value="true"/>
        <config key="title_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="title" type="xstring" value="Boxplot do ano nos dados do email"/>
        <config key="subtitle_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="subtitle" type="xstring" value=""/>
        <config key="displayFullscreen_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="displayFullscreen" type="xboolean" value="true"/>
        <config key="svg_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_svg"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="svg">
            <entry key="width" type="xint" value="800"/>
            <entry key="height" type="xint" value="600"/>
            <entry key="fullscreen" type="xboolean" value="true"/>
            <entry key="showFullscreen" type="xboolean" value="true"/>
        </config>
        <config key="backgroundColor_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_color"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="backgroundColor">
            <entry key="Red" type="xint" value="255"/>
            <entry key="Green" type="xint" value="255"/>
            <entry key="Blue" type="xint" value="255"/>
            <entry key="Alpha" type="xint" value="255"/>
        </config>
        <config key="daColor_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_color"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="daColor">
            <entry key="Red" type="xint" value="255"/>
            <entry key="Green" type="xint" value="255"/>
            <entry key="Blue" type="xint" value="255"/>
            <entry key="Alpha" type="xint" value="255"/>
        </config>
        <config key="applyColors_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="applyColors" type="xboolean" value="true"/>
        <config key="boxColor_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_color"/>
            <entry key="EnabledStatus" type="xboolean" value="false"/>
        </config>
        <config key="boxColor">
            <entry key="Red" type="xint" value="255"/>
            <entry key="Green" type="xint" value="255"/>
            <entry key="Blue" type="xint" value="255"/>
            <entry key="Alpha" type="xint" value="255"/>
        </config>
        <config key="showWarnings_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="showWarnings" type="xboolean" value="true"/>
        <config key="enableViewControls_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="enableViewControls" type="xboolean" value="true"/>
        <config key="enableColumnSelection_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="enableColumnSelection" type="xboolean" value="true"/>
        <config key="enableTitleEdit_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="enableTitleEdit" type="xboolean" value="true"/>
        <config key="enableSubtitleEdit_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="enableSubtitleEdit" type="xboolean" value="true"/>
        <config key="enableSwitchMissValClass_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="enableSwitchMissValClass" type="xboolean" value="true"/>
        <entry key="hideInWizard" type="xboolean" value="false"/>
        <entry key="maxRows" type="xint" value="2500"/>
        <entry key="generateImage" type="xboolean" value="true"/>
        <entry key="customCSS" type="xstring" value=""/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.dynamic.js.v30.DynamicJSNodeFactory"/>
    <entry key="node-name" type="xstring" value="Conditional Box Plot"/>
    <entry key="node-bundle-name" type="xstring" value="D3 Samples for KNIME Dynamic JavaScript Node Generation"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.dynamic.js.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.5.2.v202203041212"/>
    <entry key="node-feature-name" type="xstring" value="KNIME JavaScript Views"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.js.views.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.5.2.v202203041212"/>
    <config key="factory_settings">
        <entry key="nodeDir" type="xstring" value="org.knime.dynamic.js.base:nodes/:cond_boxplot_v2"/>
    </config>
    <entry key="name" type="xstring" value="Conditional Box Plot"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.node.port.image.ImagePortObjectSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.port.image.ImagePortObject"/>
            <entry key="port_object_summary" type="xstring" value="SVG 800 x 600"/>
            <entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
            <entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="07a64d9e-b6f1-441c-8e5a-3ab9b01d8b1a"/>
    </config>
</config>
